$text-color: #1d84eb;
$bg-color: #ecf6ff;

body {
  transition: background-color 200ms;
}

@mixin basic-btn-props {
  user-select: none;
  outline: none !important;
  transition: all 100ms;
  color: $text-color;
  background-color: $bg-color;
  border: 3px solid black;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  &:hover {
    cursor: pointer;
  }

  &:active,
  &:hover {
    animation: rainbow 2s infinite;
  }

  &:active {
    transform: scale(0.96);
    outline: none;
  }

  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}

.btn {
  padding: 1em;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 100vw;

  @include basic-btn-props;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.color-text {
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0.3em;
  margin: 0.2em;
  border-radius: 100vw;

  @include basic-btn-props;
}

.copy-text {
  color: blue;
  display: none;
}

@keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
